.about {
	max-width: 931px;
	width: 100%;
	padding: $padding;
	line-height: 23.19px;
	font-weight: 400;

	p {
		text-align: justify;
	}

	h1.title {
		margin-bottom: 80px;
		// change
		line-height: 50px;
	}

	.subtitle {
		margin-bottom: 15px;
	}

	span {
		font-weight: 700;
	}

	// About Info
	.about__info {
		padding: 0;

		li {
			margin-top: 25px;

			i {
				margin-right: 10px;
			}
		}
	}
}

.contact {
	max-width: 931px;
	padding: $padding;
	width: 100%;
	position: relative;

	h2.title {
		font-weight: 600;
		margin-bottom: 0;
	}

	h3.subtitle {
		color: #bbbbbb;
		margin-bottom: 100px;
	}

	ul {
		max-width: 931px;
		width: 100%;
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;

		li {
			max-width: 800px;
			width: 100%;
			margin: 15px 0;
			display: flex;
			align-items: center;

			// Dot
			i {
				font-size: 0.4375rem;
				margin-right: 10px;
			}
		}
	}
}

.contact__section {
	max-width: 998px;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: $padding;

	button {
		width: 100%;
		height: 40px;
		background: #f3f3f3;
		border: none;
		color: #111111;
		cursor: pointer;
		font-weight: 700;
		margin-bottom: 15px;
	}

	button:hover {
		background: #cfcfcf;
		transition: 0.5s;
	}
}

// Skill Set
.skills {
	background: #f3f3f3;
	max-width: 465px;
	width: 100%;
	min-height: 625px;
	border-radius: 5px 0 0 5px;

	.skills__icons {
		padding: $padding;
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 75px);
		row-gap: 50px;
	}

	h4 {
		color: #111111;
		font-weight: 700;
		margin: 27.51px 0;
		font-size: 1.7194rem;
	}
}

// Contact form
.contact__form {
	background: #111111;
	max-width: 465px;
	width: 100vw;
	min-height: 625px;
	border-radius: 0 5px 5px 0;

	h4 {
		color: #ffffff;
		font-weight: 700;
		font-size: 1.7194rem;
		margin: 27.51px 0;
	}

	form {
		max-width: 465px;
		width: 100%;
		padding: 0 1rem;
	}
}

// Contact inputs
.form__group {
	width: 100%;
	min-height: 56px;
	border-bottom: 2px solid #ffffff;
	margin: 0;
	margin-bottom: 20px;

	* {
		width: 100%;
	}

	label {
		color: #969696;
		font-size: 0.875rem;
	}

	div.form__group--input {
		display: grid;
		grid-template-columns: 1fr 30px;
		min-height: 40px;
		align-items: center;
		justify-content: center;
	}

	input {
		border: none;
		background: none;
		color: #ffffff;
	}
}

// Contact textarea
.textarea {
	margin-bottom: 10px;

	textarea {
		border: none;
		width: 100%;
		background: none;
		min-height: 140px;
		color: #ffffff;
		resize: vertical;
	}
}

// Error
.form__group.error {
	border-bottom: 2px solid $error;
}

.bi-x-circle-fill {
	color: $error;
	text-align: center;
}

.form__error {
	color: $error;
	font-size: 1rem;
	margin: 5px 0 20px 0;
	padding-left: 5px;
	display: none;
}

.form__error.error {
	color: $error;
	font-size: 1rem;
	margin: 5px 0 20px 0;
	padding-left: 5px;
	display: flex;
}

// Succes
.bi-check-circle-fill {
	color: $succes;
	text-align: center;
}

.form__group.succes {
	border-bottom: 2px solid $succes;
}

.quote {
	color: #bbbbbb;
	font-size: 1.7194rem;
	font-weight: 700;
	max-width: 840px;
	margin: 92px 0;
	padding: 0 $padding;
}
