.carousel {
	max-width: 1339px;
	width: 100%;
	margin-bottom: 157px;
	margin-top: 172px;
	position: relative;

	.glider {
		display: flex;
	}

	.glider__item {
		position: relative;
		margin: 0 25px;

		.proyect__img {
			width: 100%;
			background: linear-gradient(
				rgba(25, 209, 231, 0.5),
				rgba(243, 17, 224, 0.5)
			);
			max-height: 724.88px;
			min-height: 350px;
			height: 100%;
			left: 0;
		}

		img {
			width: 100%;
			transition: 0.5s;
			opacity: 0.6;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	}

	.carousel__back {
		left: -70px;

		i {
			transition: 0.25s;
		}
	}

	.carousel__next {
		right: -70px;

		i {
			transition: 0.25s;
		}
	}

	.carousel__back:hover,
	.carousel__next:hover {
		i {
			color: #cd83e2;
		}
	}

	button {
		position: absolute;
		padding: 0;
		top: 0;
		bottom: 0;
		background: none;
		border: none;
		cursor: pointer;

		i {
			font-size: 2.1875rem;
		}
	}
}

.proyect__info {
	background-color: #f3f3f3;
	width: 33%;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	display: grid;
	grid-template-rows: 83px 1fr 46px 111px 37px 41px;
	padding: 1rem;
	transition-duration: 0.5s;

	* {
		color: #000;
		transition-duration: 0.5s;
	}

	.proyect__number {
		font-size: 7.2831rem;
		grid-row: 1/2;
		font-weight: 700;
		color: #969696;
		text-align: right;
		margin: 0;
		margin-top: 10px;
		line-height: 83px;
	}

	.proyect__name {
		grid-row: 3/4;
		margin: 0;
		font-size: 1.7194rem;
		transition-delay: 250ms;
		font-weight: 700;
	}

	.proyect__description {
		line-height: 23.19px;
		grid-row: 4/5;
		margin: 0;
		transition-delay: 250ms;
		max-width: 316px;
		font-size: 1.0625rem;
	}

	.proyect__links {
		margin: 0;
		padding: 0;
		grid-row: 6/7;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		// .bi-github {
		// 	margin-right: 23px;
		// }

		i {
			font-size: 2.525rem;
			color: #969696;
		}
	}
}

// Transition
.glider:hover {
	img {
		opacity: 1;
	}

	.proyect__info {
		width: 20%;
		transition-delay: 250ms;
	}

	.proyect__number {
		color: #000000;
	}

	.proyect__name {
		color: transparent;
		transition-delay: 0ms;
	}

	.proyect__description {
		transition-delay: 0ms;
		color: transparent;
	}

	.proyect__links {
		i {
			color: #000000;
		}
	}
}
