nav {
	margin: auto;
	height: 80px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__links {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin-right: 50px;
		width: 269px;

		li {
			a {
				transition: 0.25s;
			}
		}

		li:hover {
			a {
				color: #cd83e2;
			}
		}
	}

	.nav__icon {
		width: 41px;
		margin-left: 50px;
	}
}

// Button for small resolutions
.nav__btn {
	display: none;
	margin-right: 25px;

	* {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	i {
		font-size: 41px;
		color: #fff;
	}
}
