<div class="about">
    {{!-- About witsite --}}
    <h1 class="title center">Sobre nuestro Witsite</h1>

    <h2 class="subtitle left">Hacemos sitios web</h2>

    <p>Witsite es una empresa que se dedica a crear sitios web, aplicaciones, tiendas virtuales o cualquier tipo de software orientado a sistematizar procesos y resolver problemas. Nos gusta el desarrollo web, y nos especializamos en mejorar la experiencia de tus usuarios a la hora de comprar tus productos o servicios.<br><br>

    Nuestra ética de trabajo se basa en la honestidad, el respeto y la confianza. Somos transparentes contigo, entendemos que tener un sitio web puede ser nuevo para la mayoría, por eso te explicamos como es nuestro flujo de trabajo y te recomendamos las mejores opciones dependiendo de tus objetivos y tu presupuesto, la decisión final siempre es tuya.<br><br>
    
    Si desea que desarrollemos un proyecto o solo necesita un presupuesto, puede rellenar el <a href="/budget"><span>formulario para la solicitud de presupuestos</span></a>. Si tiene alguna duda o inquietud puede enviarnos un mensaje desde nuestra <a href="#contact"><span>sección de contacto</span></a> o puede llamarnos.</p>

    {{!-- Contact info --}}
    <ul class="about__info">
        <li><i class="bi bi-person-badge-fill"></i>&nbsp;<span>Rif. J-50116609-9</span>.</li>
        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;<span>Ciudad Bolívar, Venezuela</span>.</li>
        <li><i class="bi bi-envelope-fill"></i>&nbsp;<span>onthewitsite@gmail.com</span></li>
        <li><i class="bi bi-telephone-fill"></i>&nbsp;<span>0414-8780487</span></li>
    </ul>
</div>

<div class="contact">
    {{!-- About me --}}
    <h2 class="title center">Desarrollador y diseñador de witsite</h2>
    <h3 class="subtitle center">José Agustin Rodríguez &nbsp;|&nbsp; Front-end Developer</h3>

    <ul>
        <li><i class="bi bi-circle-fill"></i> Conocimiento de los estándares actuales de HTML, CSS y Javascript.</li>
        <li><i class="bi bi-circle-fill"></i> Experiencia de front-end con diseño responsive, CSS3, SASS y GSAP.</li>
        <li><i class="bi bi-circle-fill"></i> Experiencia de back-end con Node.js y Express.</li>
        <li><i class="bi bi-circle-fill"></i> Habilidades creativas de diseño gráfico y de interfaz de usuario con Figma, Illustrator y código SVG.</li>
        <li><i class="bi bi-circle-fill"></i> Gestión eficiente del flujo de trabajo con Git.</li>
        <li id="contact"><i class="bi bi-circle-fill"></i> Administración de bases de datos no relacionales usando MongoDB.</li>
        <li><i class="bi bi-circle-fill"></i> Actitud positiva, pasión por el aprendizaje de nuevas tecnologias, fuerte ética de trabajo e integridad profesional.</li>
    </ul>

</div>

<div class="contact__section">
    {{!-- Contact form --}}
    <div class="skills">
        {{!-- Skill Set --}}
        <h4 class="center">Habilidades</h4>
        <div class="skills__icons">
            <img src="/SVG/js.svg" alt="">
            <img src="/SVG/html.svg" alt="">
            <img src="/SVG/css.svg" alt="">
            <img src="/SVG/node.svg" alt="">
            <img src="/SVG/mongo.svg" alt="">
            <img src="/SVG/gsap.svg" alt="">
            <img src="/SVG/git.svg" alt="">
            <img src="/SVG/sass.svg" alt="">
            <img src="/SVG/illustrator.svg" alt="">
            <img src="/SVG/svg.svg" alt="">
        </div>
    </div>
    {{!-- Contact Us --}}
    <div class="contact__form">
        <h4 class="center">Contáctanos</h4>
        <form action="/send-email" method="POST" id="form" class="form">
        {{!-- Name group --}}
            <div class="form__group" id="group__name">
                <label for="name">Nombre</label>
                <div class="form__group--input">
                    <input
                        type="text"
                        name="name"
                        class="input"
                        id="name"
                    />
                    <i class="bi"></i>
                </div>
                <p class="form__error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener letras.</p>
            </div>
            {{!-- Lastname group --}}
            <div class="form__group" id="group__lastname">
                <label for="lastname">Apellido</label>
                <div class="form__group--input">
                    <input
                        type="text"
                        name="lastname"
                        class="input"
                        id="lastname"
                    />
                    <i class="bi"></i>
                </div>
                <p class="form__error">El apellido tiene que ser de 4 a 16 dígitos y solo puede contener letras.</p>
            </div>
            {{!-- Email group --}}
            <div class="form__group" id="group__email">
                <label for="email">Email</label>
                <div class="form__group--input">
                    <input
                        type="text"
                        name="email"
                        class="input"
                        id="email"
                    />
                    <i class="bi"></i>
                </div>
                <p class="form__error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
            </div>
            {{!-- Phone group --}}
            <div class="form__group" id="group__phone">
                <label for="phone">Teléfono</label>
                <div class="form__group--input">
                    <input
                        type="text"
                        name="phone"
                        class="input"
                        id="phone"
                    />
                    <i class="bi"></i>
                </div>
                <p class="form__error">El teléfono solo puede contener numeros y el maximo son 14 dígitos.</p>
            </div>
            {{!-- Message group --}}
            <div class="textarea form__group" id="group__message">
                <label for="message">Mensaje</label>
                <div class="form__group--message">
                    <textarea
                        name="message"
                        class="input"
                        id="message"
                    ></textarea>
                    <i class="bi"></i>
                </div>
                <p class="form__error"></p>
            </div>
            {{!-- Submit Button --}}
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

{{!-- Quote --}}
<p class="quote center">“si puedes imaginarlo, podemos programarlo”</p>

{{> footer}}