{{>nav}}

<h2>Tu carrito</h2>

<section>
    <p>Sub-Total</p>
    <p>$00.00</p>
    <p>Hacemos envios nacionales con pago a destino.</p>

    <button>Volver</button>
    <button>Comprar</button>
    <button>paypal</button>
</section>

{{!-- <section>
    <article>
        {{#each cart}}
        <img src="{{product.img}}" class="product__img" alt="">
        {{/each}}
        
    </article>
</section> --}}

{{>footer}}
