<div class="nav__bg">
	<div class="nav__color--white">
		{{>nav}}
	</div>
</div>

{{!-- Header --}}
<header class='carrousel'>
	<img src='/img/header1.jpg' alt='' class='carrousel__item' />
	<img src='/img/header4.jpg' alt='' class='carrousel__item' />
	<img src='/img/header3.jpg' alt='' class='carrousel__item' />
</header>

{{!-- Feed section --}}
<article class='feed'>
	<h3 class='feed__title'>Lo Nuevo</h3>
	<a href='#' class='feed__link'>Ver todos</a>

	<section class='feed__products'>
		{{#each products}}
			<figure class='imghvr-shutter-out-diag-1 feed__product' data-aos="fade-up">
				<img src='{{img}}' alt='' />
				<figcaption>
					<h2>{{name}}</h2>
					<p>$ {{price}}.00 USD</p>
				</figcaption>
				<a href='#'></a>
			</figure>
		{{/each}}

		<a href='#' class='feed__product--more' data-aos="fade-up">
			<img src='/img/product5.jpg' alt='' />
			<div class='more__text'>
				<i class='bi bi-plus-lg'></i>
				<p>Otros</p>
			</div>
		</a>
	</section>
</article>

{{!-- Categories --}}
<article class="categories">
	<a href='#' class='categorie' data-aos="fade-up">
		<img src='/img/consolas.jpg' alt='' />
		<div class='categorie__title'>
			<p>Consolas</p>
		</div>
	</a>
	<a href='#' class='categorie' data-aos="fade-up">
		<img src='/img/juegos.jpg' alt='' />
		<div class='categorie__title'>
			<p>Juegos</p>
		</div>
	</a>
	<a href='#' class='categorie' data-aos="fade-up">
		<img src='/img/figuras.jpg' alt='' />
		<div class='categorie__title'>
			<p>Figuras</p>
		</div>
	</a>
	<a href='#' class='categorie' data-aos="fade-up">
		<img src='/img/product7.jpg' alt='' />
		<div class='categorie__title'>
			<p>Ropa</p>
		</div>
	</a>
</article>

{{>footer}}