<div class="nav__bg">
	<div class="nav__color--white nav__main">
		{{>nav}}
	</div>
</div>

{{!-- Header --}}
<header class='carrousel'>
	<img src='/img/header1.jpg' alt='' class='carrousel__item' />
	<img src='/img/header4.jpg' alt='' class='carrousel__item' />
	<img src='/img/header3.jpg' alt='' class='carrousel__item' />
</header>

{{!-- Feed section --}}
<article class='feed'>
	<h3 class='feed__title'>Lo Nuevo</h3>
	<a href='/products' class='feed__link'>Ver todos</a>

	{{>items}}
</article>

{{!-- Categories --}}
<article class="categories">
	<a href='/products' class='categorie' data-aos="fade-up">
		<img src='/img/consolas.png' alt='' />
		<div class='categorie__title'>
			<p>Consolas</p>
		</div>
	</a>
	<a href='/products' class='categorie' data-aos="fade-up">
		<img src='/img/juegos.png' alt='' />
		<div class='categorie__title'>
			<p>Juegos</p>
		</div>
	</a>
	<a href='/products' class='categorie' data-aos="fade-up">
		<img src='/img/figuras.png' alt='' />
		<div class='categorie__title'>
			<p>Figuras</p>
		</div>
	</a>
	<a href='/products' class='categorie' data-aos="fade-up">
		<img src='/img/ropa.png' alt='' />
		<div class='categorie__title'>
			<p>Ropa</p>
		</div>
	</a>
</article>

{{>footer}}