<img src='/img/user-bg.jpg' alt=''  class='user__bg'/>

<div class='user'>
    <div class="nav__color--white">
		{{>nav}}
	</div>

    <div class="form">
        <form action=''>
            <input type='text' placeholder="nombre"/>
            <input type='text' placeholder="correo"/>
            <input type='text' placeholder="contraseña"/>
            <input type='text' placeholder="repite tu contraseña"/>
            <button>Registrarse</button>
        </form>
        <h3>¿Ya tienes una cuenta? <a href='/singin'>Inicia tu sesión aquí</a></h3>
    </div>

    <p>© 2021 Witsite</p>
</div>