<img src='/img/user-bg.jpg' alt=''  class='user__bg'/>

<div class='user'>
    <div class="nav__color--white">
		{{>nav}}
	</div>

    <div class="form">
        <form action=''>
            <input type='text' placeholder="correo"/>
            <input type='text' placeholder="contraseña"/>
            <button>Iniciar sesión</button>
        </form>
        <h3>¿Aún no tienes una cuenta? <a href='/singup'>registrate aquí</a></h3>
    </div>

    <p>© 2021 Witsite</p>
</div>