{{! Footer }}
<footer class='footer'>
	{{! Footer links }}
	<div class='footer__links'>
		<a href='https://github.com/' target='_blank'><i
				class='bi bi-github'
			></i></a>
		<a href='https://www.instagram.com/witsite/?hl=es-la' target='_blank'><i
				class='bi bi-instagram'
			></i></a>
		<a href='https://ve.linkedin.com/' target='_blank'><i
				class='bi bi-linkedin'
			></i></a>
	</div>

	{{! Copyright }}
	<h5 class='footer__copy'>Developed And Designed By
		<a href='mailto:rodriguezjoseagustin31@gmail.com'>Agustin R</a>. ©2021. All
		Rights Reserved.</h5>
</footer>