{{! Footer }}
<div class='footer'>
	<div class='footer__message'>
		<p>Hacemos envíos nacionales</p>
	</div>
	<ul class='footer__politics'>
		<li>Politicas</li>
		<li><a href='#'>Política de Privacidad</a></li>
		<li><a href='#'>Términos y Condiciones</a></li>
		<li><a href='#'>Contacto</a></li>
		<li><a href='#'>hola@witsite.com</a></li>
		<li><a href='#'>Preguntas Frecuentes</a></li>
	</ul>

	<div class='footer__contact'>
		<img src='/svg/paypal.svg' alt='' />

		<ul class='footer__social'>
			<li><a href='#'><i class='bi bi-facebook'></i></a></li>
			<li><a href='#'><i class='bi bi-instagram'></i></a></li>
			<li><a href='#'><i class='bi bi-twitter'></i></a></li>
			<li><a href='#'><i class='bi bi-whatsapp'></i></a></li>
		</ul>

		<footer>© 2021 Witsite</footer>
	</div>
</div>