<div class='menu animate__animated'>
	<div class='nav__color--white'>
		{{! Navigation }}
		<nav>
			<button onclick='toggleMenu(false)'><i class='bi bi-list'></i></button>
			<a href='/cart'><i class='bi bi-basket3'></i></a>
		</nav>
	</div>

	<ul class='menu__links'>
		<li><a href='/'>Inicio</a></li>
		<li><a href='/products'>Productos</a></li>
	</ul>

	<div class='menu__user'>
		<a href='/singup'><div>Registrarse</div></a>
		<p>o</p>
		<a href='/singin' class='menu__user--dark'><div>Iniciar sesión</div></a>
	</div>
</div>