<div>
	<div class='menu animate__animated'>

		{{! Botones del menú }}
		<div class='menu__header'>
			<ul class='nav__btn'>
				<li><button onclick='toggleMenu(false)'><i
							class='bi bi-list'
						></i></button></li>
			</ul>
		</div>

		{{! Links del menú }}
		<ul class='menu__links'>
			<li><a href='/'>Home</a></li>
			<li><a href='/budget'>Budget</a></li>
			<li><a href='/about'>About</a></li>
		</ul>
	</div>
</div>