{{! Alerts }}
<div class='alert'>
	{{! Alert success }}
	{{#if success_msg}}
		<div
			class='alert__item alert__item--success animate__animated animate__headShake'
		>
			<p><i class='bi bi-check-circle-fill'></i> {{success_msg}}</p>
			<button onclick='closeAlert()'><i class='bi bi-x'></i></button>
		</div>
	{{/if}}

	{{! Alert error }}
	{{#if error_msg}}
		<div
			class='alert__item alert__item--danger animate__animated animate__headShake'
		>
			<p><i class='bi bi-exclamation-circle-fill'></i> {{error_msg}}</p>
			<button onclick='closeAlert()'><i class='bi bi-x'></i></button>
		</div>
	{{/if}}
</div>