@media screen and (max-width: 767px) {
	$padding: 1rem;

	* {
		font-size: 15px;
	}

	.bi-arrow-down-circle {
		display: none;
	}

	.carousel {
		margin-bottom: 40px;
		margin-top: 0;
	}

	// Transition
	.glider {
		img {
			opacity: 1;
			filter: brightness(30%);
		}

		.proyect__info {
			width: 100%;
			background-color: transparent;
			transition-delay: 250ms;
		}

		.proyect__number {
			color: #fff;
		}

		.proyect__name {
			color: #fff;
			transition-delay: 0ms;
		}

		.proyect__description {
			transition-delay: 0ms;
			color: #fff;
		}

		.proyect__links {
			i {
				color: #fff;
			}
		}
	}

	// Transition
	.glider:hover {
		img {
			opacity: 1;
		}

		.proyect__info {
			width: 100%;
			background-color: transparent;
			transition-delay: 250ms;
		}

		.proyect__number {
			color: #fff;
		}

		.proyect__name {
			color: #fff;
			transition-delay: 0ms;
		}

		.proyect__description {
			transition-delay: 0ms;
			color: #fff;
		}

		.proyect__links {
			i {
				color: #fff;
			}
		}
	}

	.cards {
		margin-bottom: 0px;
	}

	.cards__item--more.info {
		margin-top: 0px;
	}

	.cards__info {
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.cards__header {
		.cards__img {
			min-width: 300px;
			min-height: 100px;
		}
	}
}

@media screen and (max-width: 498px) {
	header {
		margin-top: 0;

		.header__logo {
			img {
				margin: 2rem;
				padding: 2rem;
				min-width: 100px;
			}
		}
	}

	.header__info {
		.header__title {
			margin-bottom: 17px;
			font-size: 2.45rem;

			* {
				line-height: 50.75px;
			}

			span {
				font-size: 2.45rem;
			}
		}
	}

	.proyect__info {
		.proyect__number {
			font-size: 5.2831rem;
		}
	}
}

@media screen and (max-width: 320px) {
	.header__info {
		.header__title {
			font-size: 2rem;

			span {
				font-size: 2rem;
			}
		}
	}
}
