@media screen and (max-width: 1023px) {
	nav {
		.nav__links {
			display: none;
		}

		.nav__icon {
			width: 41px;
			margin-left: 25px;
		}

		// Button for small resolutions
		.nav__btn {
			display: flex;
		}
	}

	header {
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 3rem;

		.header__logo {
			img {
				margin: 6rem;
				min-width: 300px;
			}
		}
	}

	.carousel {
		max-width: 100%;

		button {
			display: none;
		}

		.glider__item {
			.proyect__img {
				img {
					opacity: 1;
				}
			}
		}
	}

	.proyect__info {
		width: 23%;

		.proyect__name {
			color: transparent;
		}

		.proyect__description {
			color: transparent;
		}
	}

	// Transition
	.glider:hover {
		.proyect__info {
			width: 50%;
		}

		.proyect__name {
			color: #000000;
		}

		.proyect__description {
			color: #000000;
		}
	}

	.cards__info {
		flex-direction: column;
		align-items: center;
	}

	.cards__item {
		margin: $padding;
		max-width: 450px;
	}

	.cards__item:nth-child(2) {
		margin: $padding;
	}

	.cards__item:hover {
		transform: none;
	}

	.cards__item--more:hover {
		.cards__main {
			transform: none;
		}
	}

	.cards__main {
		position: relative;
		bottom: 0;
	}

	.cards__main.service {
		right: 0;
	}

	.cards__header.service {
		align-items: center;

		h4 {
			text-align: center;
		}
	}

	.cards__header.info {
		align-items: center;

		h4 {
			text-align: center;
		}
	}

	.cards__main.service {
		h5.right {
			text-align: left;
		}
	}

	// Skill Set
	.skills {
		border-radius: 5px 5px 0 0;
	}

	// Contact form
	.contact__form {
		border-radius: 0 0 5px 5px;
	}
}
