<html lang='es'>
	<head>
		<!-- Head -->
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='robots' content='index,follow' />
		<meta name='author' content='José Agustin Rodríguez' />
		<meta name='copyright' content='Witsite, servicios digitales' />
		<meta
			name='description'
			content='Witsite es una empresa que se dedica a crear sitios web, aplicaciones, tiendas virtuales o cualquier tipo de software orientado a sistematizar procesos y resolver problemas.'
		/>
		<meta
			name='keywords'
			content='website, witsite, páginas web, aplicaciones, desarrollo, sitios web, creación, software, en Ciudad Bolívar, en Venezuela, empresa, negocio'
		/>
		<title>Title</title>
		<link rel='shortcut icon' href='/images/favicon.png' type='image/x-icon' />
		{{! Animate.css }}
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
		/>
		<!-- Custom css -->
		<link rel='stylesheet' href='/css/normalize.css' />
		<link rel='stylesheet' href='/css/main.css' />
		{{! Bootstrap icons }}
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css'
		/>
		<!-- Animate css -->
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
		/>
		<!-- Google fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'
			rel='stylesheet'
		/>
		<link
			href='https: //fonts.googleapis.com/css2? family = Nunito + Sans & display = swap '
			rel=' stylesheet '
		/>
	</head>
	<body>

		<div class='container'>
			{{{body}}}
		</div>

		<!-- Custom js -->
		<script src='/js/main.js'></script>
		<!-- Gliderjs -->
		<script
			src='https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js'
		></script>
	</body>
</html>